img.emoji[title^=":clkol"] {
    width: initial !important;
    height: initial !important;
}

img.emoji[title^=":kolobok"] {
    width: initial !important;
    height: #{$kolobok_size}px !important;
}

img.emoji[title$="parrot:"] {
    vertical-align: baseline;
    width: initial !important;
    height: #{$parrot_size}px !important;
}

img.emoji[title=":donald:"],
img.emoji[title=":slowpoke:"],
img.emoji[title=":slowcap:"],
img.emoji[title=":happymerchant:"] {
    width: initial !important;
    height: #{$others_custom_size}px !important;
}

img.emoji[title=":nichosi:"] {
    width: initial !important;
    height: #{$big_custom_size}px !important;
}
