img.emoji[title^=":clkol"] {
    width: initial !important;
    height: initial !important;
}

img.emoji[title^=":kolobok"] {
    vertical-align: baseline;
    width: #{$kolobok_size}px !important;
    height: #{$kolobok_size}px !important;
}

img.emoji[title$="parrot:"] {
    vertical-align: baseline;
    width: #{$parrot_size}px !important;
    height: #{$parrot_size}px !important;
}
